@media (min-width: 1000px) {
  .MainInformationContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
  }
  .MainInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 70px;
    border-bottom: 2px solid var(--primary-alt);
  }
  .Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .MyCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }
  .MyCardTitleContainer {
    display: flex;
    flex-direction: column;
    /*  */
    height: fit-content;
    padding-left: 10px;
    gap: 5px;
    /*  */
    border-left: 4px solid;
  }
}
.MyName {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.MyCarreer {
  font-size: 1.6em;
  letter-spacing: 0.5px;
}
.SocialMediaContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 6px;
}
.SocialMediaSvg {
  height: 50px;
}
.SocialMediaSvg:hover .SocialMediaSvgPath {
  fill: var(--primary-alt);
}
.SocialMediaSvgPath {
  fill: var(--primary);
  transition: all 0.3s;
}
.WAYCard {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 400px;
  border-right: 4px solid;
}
.WAYCardTitleContainer {
  display: flex;
  justify-content: start;
  padding-right: 10px;
  width: 100%;
}
.WAYCardTitle {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.WAYCardParagraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  padding-right: 10px;
  width: 95%;
}
.WAYCardParagraph {
  font-size: 1.5em;
  font-weight: 500;
}
.ArrowContainer {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: end;
  height: 100px;
  width: 100%;
}
.ArrowDown {
  height: 100px;
  width: 100px;
  animation: ArrowDownAnimation 2s infinite;
}
.ArrowDown path {
  fill: var(--primary);
  animation: ArrowDownAnimation 2.5s infinite;
}
@keyframes ArrowDownAnimation {
  0% {
    height: 100px;
    fill: var(--primary);
  }
  50% {
    height: 70px;
    fill: var(--primary-alt);
  }
  100% {
    height: 100px;
    fill: var(--primary);
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .MainInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
  }
  /* CARDS */
  .Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    gap: 30px;
  }
  .MyCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
  }
  .MyCardTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-right: 2px solid var(--primary-alt);
    width: 180px;
    height: 142px;
  }
  .MyName {
    font-size: 1.8em;
    font-weight: 500;
  }
  .MyCarreer {
    font-size: 1.3em;
    color: var(--bg-lm-alt);
  }
  .SocialMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4px;
    gap: 15px;
    height: 142px;
  }
  .SocialMediaSvg {
    height: 30px;
  }
  .SocialMediaSvgPath {
    transition: all 0.3s;
  }
  .WAYCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .WAYCardTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .WAYCardTitle {
    font-size: 2.2em;
  }
  .WAYCardParagraphContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    text-align: center;
  }
  .ArrowContainer {
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
  }
  .ArrowDown {
    height: 80px;
    fill: var(--primary);
    animation: ArrowDownAnimationPhone 3s infinite;
  }
  @keyframes ArrowDownAnimationPhone {
    0% {
      height: 100px;
      fill: var(--primary);
    }
    50% {
      height: 70px;
      fill: var(--primary-alt);
    }
    100% {
      height: 100px;
      fill: var(--primary);
    }
  }
}
.bcprimary {
  border-color: var(--primary);
}
.bcprimaryalt {
  border-color: var(--primary-alt);
}
.cprimary, .pathprimary {
  color: var(--primary);
}
.pathprimary{
  fill: var(--primary);
  filter: drop-shadow(0px 0px 0.5px var(--primary));
}
.SocialMediaSvg:hover .pathprimary,
.SocialMediaSvg:active .pathprimary{
  fill: var(--primary-alt);
}

.cprimaryalt{
  color: var(--primary-alt);  ;
}
.pathprimaryalt{
  fill: var(--primary-alt);
  filter: drop-shadow(0px 0px 0.5px var(--primary-alt));
}
.SocialMediaSvg:hover .pathprimaryalt,
.SocialMediaSvg:active .pathprimaryalt{
  fill: var(--primary);
}
