@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    /* COLORS */
    --primary: #BA181B;
    --primary-alt: #660708;
    --primary-crystal: #66070951;
    /* DARK MODE */
    --bg-dm: #0B090A;
    --bg-dm-alt: #161A1D;
    /* LIGHT MODE */
    --bg-lm: #FFFFFF;
    --bg-lm-alt: #AAAAAA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    overflow-x: hidden;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-dm);
    color: var(--bg-lm);
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.primary-color {
    color: var(--primary);
}
.fw-500{
    font-weight: 500;
}